DerivedData/
.DS_Store
*/project.xcworkspace/*
*/xcuserdata/*
.phab
.idea
.tmp
.sass-cache
.build
*settings*.json*
*.bak
*.orig
*.sublime-project
*.sublime-workspace
Pods/
*/Pods/*
*/Pods/
config/config.h
# fastlane specific
fastlane
Gemfile